root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{ino,cpp,c,h,hpp,sdf,world,json}]
charset = utf-8
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true

[{*.yml,*.yaml,CMakeLists.txt}]
indent_style = space
indent_size = 2
