*.hex
*.elf
build/
tools/log/
tools/dist/
*.egg-info/
.dependencies
.pio/
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/intellisense.h
