<?xml version="1.0"?>

<model>
  <name>linnmon</name>
  <version>1.0</version>
  <sdf version="1.5">linnmon.sdf</sdf>

  <author>
    <name>Oleg Kalachev</name>
    <email>okalachev@gmail.com</email>
  </author>

  <license>Unknown</license>

  <description>
    Linnmon table from https://3dlancer.net/en/producermodels/tables-coffee-tables/3dmodel-table-with-ikea-linnmon-36059
  </description>

</model>
